<footer>
<hr>
<div class="about">
<a href="https://twitter.com/Yyoubuer"><img src="https://s.gravatar.com/avatar/34fe2d98d60e35a82cf6d649e1f93a91?s=80"></img></a>
<h4>Fan You</h4>
	<p><a href="https://twitter.com/Yyoubuer">@fanyou</a>. A graduate Student in Carnegie Mellon University. Love music, game. See My <a href="http://fyoubuertec.wordpress.com/">Portfolio</a> and <a href="https://fyoubuertec.files.wordpress.com/2014/10/career3.pdf">Resumé</a>. Please contact me via <a href="mailto:youfan.noey@gamil.com">e-mail</a>.</p>
</div>

<div class="copy">
&copy; {{ site.time | date: "%Y" }}
<a href="http://fyou.me/">fyou.me</a>
</div>
</footer>
