<footer>
<div class="about">
<hr>
<a href="https://twitter.com/youbuer"><img
src="https://s.gravatar.com/avatar/34fe2d98d60e35a82cf6d649e1f93a91?s=640"></img></a>
<h4>Fan You</h4>
<p><a href="https://twitter.com/youbuer">@fanyou</a>. A programmer in Carnegie
Mellon University. See My
<a
href="https://github.com/Noeyfan">Github</a>, <a href="/portfolio">Portfolio</a>, <a href="/about">Resumé</a>
and <a href="/blog/">Blog</a>.
Contact me via <a href="mailto:youfan.noey@gamil.com">e-mail</a>.</p>
</hr>
</div>

<div class="copy">
&copy; {{ site.time | date: "%Y" }}
<a href="http://fyou.me/"></a>
</footer>
