---
layout: default
---

{% for post in site.posts reverse %}
        {% include archive_post.html %}
{% endfor %}

{% assign index = true %}
{% for post in paginator.posts %}
{% assign content = post.content %}
    <article class="post">{% include article.html %}</article>
{% endfor %}
<nav id="pagenavi">
    {% if paginator.previous_page %}
        <a href="{{paginator.previous_page}}" class="prev">Previous</a>
    {% endif %}
    {% if paginator.next_page %}
        <a href="{{paginator.next_page}}" class="next">Next</a>
    {% endif %}
</nav>
